/*
* BREAKPOINTS
*/
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/*
* COLORS
*/
$color-primary: #00a76b;
$color-black-main: #0e0e0f;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-900: #18191f;

/*
* FONTS
*/
$font-base: "Open Sans", sans-serif;
$font-additional: "Inter", sans-serif;
